<div class="input-with-counter">
	{{input maxlength=attrs.maxlength placeholder=attrs.placeholder size=attrs.size value=attrs.value classNames=attrs.classNames}}
	<div class="characters-left">
		{{charactersLeft}}
	</div>
</div>