@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap_vars_override";
@import "mixins";

$color1: #5F495F;
$color2: #FFC153;

body {
    background-color: ffffff;
    color: #ffffff;

    header {
        margin: 0;
        padding: 30px;
        text-align: center;

        img {
            @include diff(width, 304px, 304px, 304px, 250px);
        }
    }

    section.title {
        margin: 0;
        padding: 30px;
        background-color: $color1;
        text-align: center;

        h1 {
            font-size: 38px;
            text-transform: uppercase;
            max-width: 660px;
            margin: 0 auto;
            font-weight: 700;
        }

        h2 {
            font-size: 22px;
            font-weight: 300;
            max-width: 660px;
            margin: 20px auto 0 auto;
        }
    }

    section.book {
        text-align: center;
        background-color: $color2;

        img {
            margin-left: 160px;

            @include diff(max-width, 589px, 589px, 589px, 300px);
            @include diff(margin-left, 160px, 160px, 160px, 50px);
        }
    }

    section.subscribe {
        color: $color2;
        padding: 30px;

        h3 {
            margin: 0;
            text-align: center;
        }

        .form {
            color: #ffffff;
            text-align: center;
            margin: 20px auto 0 auto;
            max-width: 560px;

            @include diff(max-width, 560px, 560px, 560px, 300px);

            input.email {
                border: 3px solid $color2;
                border-radius: 30px;
                width: 100%;
                height: 44px;
                display: inline-block;
                color: $color2;
                vertical-align: bottom;
                padding: 10px 20px;
                margin-right: 10px;
                outline: none;

                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: $color2;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color: $color2;
                   opacity:  1;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color: $color2;
                   opacity:  1;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10+ */
                   color: $color2;
                }
            }

            .submit {
                background-color: $color2;
                border-radius: 30px;
                width: 100%;
                height: 44px;
                display: inline-block;
                padding: 12px 0;
                text-transform: uppercase;
                cursor: pointer;

                @include diff(max-width, 100%, 100%, 100%, 156px);
                @include diff(margin-top, 0, 0, 0, 20px);

                &:hover {
                    background-color: $color1;
                }
            }
        }
    }

    footer {
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 300;
        background-color: $color1;
        text-align: center;
        padding: 30px;
    }
}
