<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="400px" height="307px" viewBox="0 0 400 307" version="1.1">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>Imported Layers</title>
    <desc>Created with Sketch.</desc>
    <defs/>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="How-it-works-Copy-7" sketch:type="MSArtboardGroup" transform="translate(-275.000000, -1679.000000)">
            <g id="Main" sketch:type="MSLayerGroup" transform="translate(-25.000000, 347.000000)">
                <g id="Imported-Layers" transform="translate(300.000000, 1332.000000)" sketch:type="MSShapeGroup">
                    <path d="M18.6746963,32.6701422 L380.972517,32.6701422 L380.972517,288.463977 L18.6746963,288.463977 L18.6746963,32.6701422 Z" id="Fill-1" fill="#FFFFFF"/>
                    <path d="M369.148355,14.4859354 L0.479210713,14.4859354 L0.479210713,295.499749 L178.208299,295.499749 C182.670041,301.498289 190.88197,306.557517 199.772781,306.64093 C208.663592,306.557517 216.980802,301.498289 221.438914,295.499749 L399.171633,295.499749 L399.171633,14.4859354 L369.148355,14.4859354 L369.148355,14.4859354 Z M380.972517,277.322796 L206.732228,277.322796 L206.732228,284.898944 C205.675786,286.142898 202.836825,288.358803 199.772781,288.463977 C196.708737,288.358803 193.975058,286.142898 192.918616,284.898944 L192.918616,277.322796 L18.6746963,277.322796 L18.6746963,32.6701422 L380.972517,32.6701422 L380.972517,277.322796 L380.972517,277.322796 Z" id="Fill-2" fill="#5F4A60"/>
                    <path d="M28.5711236,0.240310357 L204.383369,0.240310357 L204.383369,266.758258 L28.5711236,266.758258 L28.5711236,0.240310357 Z" id="Fill-3" fill="#5F4A60"/>
                    <path d="M37.7959298,9.45572109 L195.158563,9.45572109 L195.158563,257.542847 L37.7959298,257.542847 L37.7959298,9.45572109 Z" id="Fill-4" fill="#FFFFFF"/>
                    <path d="M288.608282,266.758258 L195.263844,266.758258 L195.263844,0.240310357 L371.07972,0.240310357 L371.07972,266.758258 L288.608282,266.758258" id="Fill-5" fill="#5F4A60"/>
                    <path d="M204.48865,9.45572109 L361.851283,9.45572109 L361.851283,257.542847 L204.48865,257.542847 L204.48865,9.45572109 Z" id="Fill-6" fill="#FFFFFF"/>
                    <path d="M92.066543,66.7138496 L142.300169,66.7138496 L142.300169,76.4442499 L92.066543,76.4442499 L92.066543,66.7138496 Z" id="Fill-7" fill="#5F4A60"/>
                    <path d="M53.3956906,96.9640428 L179.562432,96.9640428 L179.562432,106.690816 L53.3956906,106.690816 L53.3956906,96.9640428 Z" id="Fill-8" fill="#5F4A60"/>
                    <path d="M53.3956906,113.643175 L179.562432,113.643175 L179.562432,123.373575 L53.3956906,123.373575 L53.3956906,113.643175 Z" id="Fill-9" fill="#5F4A60"/>
                    <path d="M53.3956906,130.322306 L179.562432,130.322306 L179.562432,140.052707 L53.3956906,140.052707 L53.3956906,130.322306 Z" id="Fill-10" fill="#5F4A60"/>
                    <path d="M53.3956906,163.684197 L179.562432,163.684197 L179.562432,173.414597 L53.3956906,173.414597 L53.3956906,163.684197 Z" id="Fill-11" fill="#5F4A60"/>
                    <path d="M53.3956906,180.363329 L179.562432,180.363329 L179.562432,190.093729 L53.3956906,190.093729 L53.3956906,180.363329 Z" id="Fill-12" fill="#5F4A60"/>
                    <path d="M53.3956906,197.046087 L179.562432,197.046087 L179.562432,206.776487 L53.3956906,206.776487 L53.3956906,197.046087 Z" id="Fill-13" fill="#5F4A60"/>
                    <path d="M53.3956906,213.725219 L179.562432,213.725219 L179.562432,223.455619 L53.3956906,223.455619 L53.3956906,213.725219 Z" id="Fill-14" fill="#5F4A60"/>
                    <path d="M53.3956906,230.404351 L179.562432,230.404351 L179.562432,240.134751 L53.3956906,240.134751 L53.3956906,230.404351 Z" id="Fill-15" fill="#5F4A60"/>
                    <path d="M53.3956906,147.001438 L179.562432,147.001438 L179.562432,156.731839 L53.3956906,156.731839 L53.3956906,147.001438 Z" id="Fill-16" fill="#5F4A60"/>
                    <path d="M220.088411,63.6057792 L346.251522,63.6057792 L346.251522,73.3361794 L220.088411,73.3361794 L220.088411,63.6057792 Z" id="Fill-17" fill="#5F4A60"/>
                    <path d="M220.088411,80.2812843 L346.251522,80.2812843 L346.251522,90.0116846 L220.088411,90.0116846 L220.088411,80.2812843 Z" id="Fill-18" fill="#5F4A60"/>
                    <path d="M220.088411,96.9640428 L346.251522,96.9640428 L346.251522,106.690816 L220.088411,106.690816 L220.088411,96.9640428 Z" id="Fill-19" fill="#5F4A60"/>
                    <path d="M220.088411,113.643175 L346.251522,113.643175 L346.251522,123.373575 L220.088411,123.373575 L220.088411,113.643175 Z" id="Fill-20" fill="#5F4A60"/>
                    <path d="M220.088411,130.322306 L346.251522,130.322306 L346.251522,140.052707 L220.088411,140.052707 L220.088411,130.322306 Z" id="Fill-21" fill="#5F4A60"/>
                    <path d="M220.088411,46.9230207 L346.251522,46.9230207 L346.251522,56.6534209 L220.088411,56.6534209 L220.088411,46.9230207 Z" id="Fill-22" fill="#5F4A60"/>
                    <path d="M220.088411,30.2438889 L346.251522,30.2438889 L346.251522,39.9742891 L220.088411,39.9742891 L220.088411,30.2438889 Z" id="Fill-23" fill="#5F4A60"/>
                    <path d="M220.088411,147.001438 L313.944733,147.001438 L313.944733,156.731839 L220.088411,156.731839 L220.088411,147.001438 Z" id="Fill-24" fill="#5F4A60"/>
                    <path d="M103.963312,30.2438889 L130.39977,30.2438889 L130.39977,56.6534209 L103.963312,56.6534209 L103.963312,30.2438889 Z" id="Fill-25" fill="#5F4A60"/>
                </g>
            </g>
        </g>
    </g>
</svg>