footer.app-footer {
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    background-color: $color2;
    padding: 20px 0;
    color: #ffffff;
    font-size: 11px;
}
