header.app-header {
    // padding: 0 $site-padding;
    border-bottom: 1px solid $border-color;
    // overflow: hidden;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 1px;
    background: white;

    z-index: 2;
    position: relative;

    img.logo {
        height: 40px;
    }

    .navbar-left {
        padding: 10px 0;
        margin-left: -15px;

        @include breakpoint(xs) {
            text-align: center;
            margin: 0;
            padding-bottom: 0;
        }
    }

    .dropdown {
       // margin-top: 10px;
    }

    nav.navbar-right {
        height: 47px;
        padding: 20px 0;

        @include breakpoint(xs) {
            text-align: center;
            margin-top: 0;
            height: auto;
            max-height: 85px;
        }

        .user-photo {
            display: inline-block;

            .circular.profile {
                overflow: hidden;
                border-radius: 50%;
                display: inline-block;
                vertical-align: top;
                margin-top: -7px;
                border: 1px solid #cccccc;
                width: 35px;
                height: 35px;
            }
        }

        a {
            text-transform: uppercase;
            color: $color2;
            font-size: 12px;
            margin-left: 20px;

            @include breakpoint('xs') {
                display: inline-block;
                margin-bottom: 10px;
                margin-left: 15px;
            }

            &.button-flat {
                color: #ffffff;
            }

        }
    }
}
