<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <nav class="nav navbar-nav navbar-left">
                <img class="logo" src="images/logo.png" />
            </nav>
        </div>
        <div class="col-sm-8">
            <nav class="nav navbar-nav navbar-right">
                {{#if isLoggedIn}}
                    {{#link-to 'project.create'}}Create{{/link-to}}
                    {{#link-to 'application'}}Contribute{{/link-to}}
                    {{#link-to 'project.list'}}Read{{/link-to}}
                    {{#link-to 'user.logout'}}Logout{{/link-to}}
                    <a class="profile-circle">{{gravatar-image email=userEmail}}</a>
                {{else}}
                    {{#link-to 'index'}}Home{{/link-to}}
                    {{#link-to 'index.about'}}About{{/link-to}}
                    {{#link-to 'index.how-it-works'}}How It Works{{/link-to}}
                    {{#link-to 'user.login'}}Login{{/link-to}}
                    {{#link-to 'user.signup' class="button-flat"}}Sign Up{{/link-to}}
                {{/if}}
            </nav>
        </div>
    </div>
</div>
