<section class="social">
    <a href="https://www.facebook.com/autora.ink">{{fa-icon "facebook"}}</a>
    <a href="https://twitter.com/AutoraInk">{{fa-icon "twitter"}}</a>
    <a href="">{{fa-icon "instagram"}}</a>
</section>
