<header><img src="/images/logo.png" /></header>
<section class="title">
    <h1>Writing just got collective</h1>
    <h2>Autora is a collective creative writing experiment. Propose a poem or a story. Submit a word or a line. Read and vote on other people's submissions. Watch a story grow or read completed projects, and share them with your friends! Join the Autora experiment.</h2>
</section>
<section class="book"><img src="/images/book.png" /></section>
<section class="subscribe container-fluid">
    <h3>Sign up for early access!</h3>
    <form class="form row" id="subscribe-form">
        <div class="col-xs-12 col-sm-8">
            <input  id="subscribe-email" class="email" placeholder="Enter email address" />
        </div>
        <div class="col-xs-12 col-sm-4">
            <button class="submit">Subscribe</button>
        </div>
    </form>
</section>
<section class="flow"><img src="/images/flow.png" /></section>
<footer><a href="https://assembly.com/autora">Help us build Autora with &hearts; on Assembly</a></footer>
