<header><img src="/images/logo.png" /></header>
<section class="title">
    <h1>Writing just got collective</h1>
    <h2>Autora is a collective creative writing experiment. Propose a poem or a story. Submit a word or a line. Read and vote on other people's submissions. Watch a story grow or read completed projects. Join the Autora experiment.</h2>
</section>
<section class="book"><img src="/images/book.png" /></section>
<section class="subscribe">
    <h3>Get early access when we are ready!</h3>
    <div class="form">
        <input class="email" placeholder="Enter email address" />
        <div class="submit">Subscribe</div>
    </div>
</section>
<footer>Built with &hearts; on Assembly</footer>
