<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Autora is a collective creative writing experiment. It's a place for people interested in creative reading and writing to come together on any literary project: from a haiku to a novel.">
    
    <meta property="og:image" content="http://www.autora.ink/images/logo.png"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.autora.ink">
    <meta property="og:title" content="{{title}}">



    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {{!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> --}}
    <script src="/js/app.js"></script>

  </head>
  <body>
    {{{body}}}
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
