<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Autora.ink</title>
    <style>
    @import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
    </style>
  </head>
  <body>
    <div style="background-color: #eeeeee; color: #5F495F; font-family: Roboto, tahoma;">
        <div style="background-color: #FFC153; padding: 40px 60px; max-width: 450px; margin: 0 auto;">
            <div style="background-color: #ffffff; padding: 60px;">
                <div style="text-align: center;"><img src="http://www.autora.ink/images/logo.png" style="width: 100%; max-width: 260px;" /></div>
                <div style="font-size: 24px; line-height: 23px; text-align: center; margin-top: 20px; font-weight: 700;">Thanks for joining<br />the Autora experiment!</div>
                <div style="font-size: 14px;">
                    <p>Autora is a place for people excited about creative reading and writing to come together on any literary project: from a haiku to a novel. Autora is a game. It's overcoming writer's block. It's creating a story without having to write it.</p>
                    <p>We're working hard to get Autora up and running, and you can help! Join the Autora build. Visit Assembly <a href="https://assembly.com/autora" style="text-decoration: none; color: #5F495F;">Help us build Autora on Assembly</a>, otherwise just sit back and we will keep you updated about Autora and let you know when it's ready.</p>
                </div>
                <div style="text-align: center; margin-top: 40px;">
                    <a href="http://www.autora.ink" style="text-decoration: none; color: #5F495F;">www.autora.ink</a>
                    <div style="margin-top: 10px;">
                        <a href="https://www.facebook.com/autora.ink" href=""><img src="http://www.autora.ink/images/facebook.png" style="width: 32px;" /></a>
                        <a href="https://twitter.com/AutoraInk" href=""><img src="http://www.autora.ink/images/twitter.png" style="width: 29px;" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #5F495F; color: #cccccc; text-align: center; padding: 15px 60px; max-width: 450px; margin: 0 auto;">
            <a href="https://assembly.com/autora" style="text-decoration: none; color: #eeeeee;">Help us build Autora on Assembly</a>
        </div>
    </div>
  </body>
</html>
