.about-team-item {
    overflow: hidden;
    text-align: center;
    padding-bottom: 30px;

    .photo-circle {
        border-radius: 50%;
        border: 1px solid $color1;
        width: 150px;
        height: 150px;
        overflow: hidden;
        padding: 10px;
        margin: 0 auto;

        .padding {
            position: relative;
            height: 100%;
            width: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }

            .funny {
                transition: opacity 0.2s;
                opacity: 0;
            }
        }
    }

    .name {
        height: 26px;
        margin-top: 20px;
        color: $color1;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .title {
        margin-top: 2px;
        font-weight: 300;
        font-size: 12px;
        font-style: italic;
    }

    .description {
        margin: 8px auto 0 auto;
        font-weight: 300;
        font-size: 14px;
        max-width:180px;
    }

    &:hover {
        .photo-circle {
            .funny {
                opacity: 1;
            }
        }

        .name {
            font-size: 20px;
        }
    }
}
