.successful-entry {
	color: $placeholder-color;
	position: relative;
	font-size: 14px;
	padding: 10px 20px;

	p {
		margin: 0;
		font-weight: 300;
	}

	.info {
		opacity: 0.1;
	    position: absolute;
	    right: -160px;
	    width: 150px;
	    top: 8px;
	    transition: 0.2s opacity;

	    .user-photo {
	    	display: inline-block;

	    	img {
	    		width: 25px;
	    		height: 25px;
	    	}
	    }

	    .details-link {
			line-height: 25px; //height of the gravatar
			vertical-align: sub;
			font-size: 12px;
			font-weight: 300;
		}
	}

	&:hover {
		background: transparentize(grey, 0.93);
		.info {
			opacity: 1;
		}
	}
	/* ------- INLINE MODE ----- */
	&.inline {
		display: inline-block;
		padding: 5px 2px;
		margin-right: -4px;
		z-index: 1;


		.info {
			right: 0;
			left: 0;
			top: auto;
			bottom: -30px;
			padding-top: 10px;
			opacity: 0;
			visibility: hidden;
			width: 80px;
		}

		&:hover {
			z-index: 2;
			.info {
				opacity: 1;
				background: transparentize(white, 0.2);
				visibility: visible;
			}
		}
	}
}
