.successful-entry {
	color: $placeholder-color;
	position: relative;
	font-size: 14px;
	padding: 10px 20px;

	p {
		margin: 0;
		font-weight: 300;
	}

	.info {
		opacity: 0.1;
	    position: absolute;
	    right: -160px;
	    width: 150px;
	    top: 8px;
	    transition: 0.2s opacity;

	    .user-photo {
	    	display: inline-block;

	    	img {
	    		width: 25px;
	    		height: 25px;
	    	}
	    }

	    .details-link {
			line-height: 25px; //height of the gravatar
			vertical-align: sub;
			font-size: 12px;
			font-weight: 300;
		}
	}

	&:hover {
		background: transparentize(grey, 0.93);
		.info {
			opacity: 1;
		}
	}
}
