<p>{{nl-br entryContent}}</p>
	{{yield}}
	<div class="info">
		{{#link-to 'user.index' attrs.model.user.id}}{{user-photo user=attrs.model.user}}{{/link-to}} <span class="details-link">Details</span>
</div>
