<p>
	{{nl-br entryContent}}
	{{!-- {{#if shouldDisplayLineBreakSymbol}} --}}
		{{!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="14px" viewBox="0 0 72.687 72.687"  xml:space="preserve" >
		<g>
			<path d="M72.427,1.499v8.691c0,0.829-0.671,1.5-1.5,1.5H63.76v59.496c0,0.829-0.671,1.5-1.5,1.5h-9.25c-0.829,0-1.5-0.671-1.5-1.5   V11.691h-7.058v59.496c0,0.829-0.67,1.5-1.5,1.5h-8.582c-0.829,0-1.5-0.671-1.5-1.5V48.59c-2.961,0.91-5.734,1.37-8.269,1.37   c-7.037,0-12.92-2.399-17.485-7.132c-4.551-4.717-6.858-10.806-6.858-18.1c0-7.734,2.47-13.867,7.34-18.226   C12.422,2.188,19.19,0,27.716,0h43.209C71.756-0.001,72.427,0.671,72.427,1.499z"></path>
		</g>
		</svg> --}}
		{{!-- &#8629; --}}
	{{!-- {{/if}} --}}
	{{if shouldDisplayLineBreakSymbol '↵'}}
</p>
	{{yield}}
	<div class="info">
		{{#link-to 'user.index' attrs.model.user.id}}{{user-photo user=attrs.model.user}}{{/link-to}} <span class="details-link">{{#link-to 'entry' model.id}}Details{{/link-to}}</span>
</div>
