<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="400px" height="309px" viewBox="0 0 400 309" version="1.1">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>Imported Layers</title>
    <desc>Created with Sketch.</desc>
    <defs/>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="How-it-works-Copy-7" sketch:type="MSArtboardGroup" transform="translate(-273.000000, -882.000000)">
            <g id="Main" sketch:type="MSLayerGroup" transform="translate(-25.000000, 347.000000)">
                <g id="Imported-Layers" transform="translate(298.000000, 535.000000)" sketch:type="MSShapeGroup">
                    <path d="M18.3796207,33.2807202 L381.6301,33.2807202 L381.6301,289.901388 L18.3796207,289.901388 L18.3796207,33.2807202 Z" id="Fill-1" fill="#FFFFFF"/>
                    <path d="M369.771207,15.0377344 L0.132650392,15.0377344 L0.132650392,296.959902 L178.332716,296.959902 C182.80255,302.977832 191.036072,308.053413 199.950262,308.137097 C208.868091,308.053413 217.203531,302.977832 221.673365,296.959902 L399.877071,296.959902 L399.877071,15.0377344 L369.771207,15.0377344 L369.771207,15.0377344 Z M381.6301,278.724194 L206.928008,278.724194 L206.928008,286.324831 C205.868788,287.572806 203.022363,289.795874 199.950262,289.901388 C196.87816,289.795874 194.137293,287.572806 193.078073,286.324831 L193.078073,278.724194 L18.3796207,278.724194 L18.3796207,33.2807202 L381.6301,33.2807202 L381.6301,278.724194 L381.6301,278.724194 Z" id="Fill-2" fill="#5F4A60"/>
                    <path d="M28.2984307,0.746061515 L204.576613,0.746061515 L204.576613,268.125506 L28.2984307,268.125506 L28.2984307,0.746061515 Z" id="Fill-3" fill="#5F4A60"/>
                    <path d="M37.5511334,9.99126032 L195.32755,9.99126032 L195.32755,258.880308 L37.5511334,258.880308 L37.5511334,9.99126032 Z" id="Fill-4" fill="#FFFFFF"/>
                    <path d="M53.1882738,31.075844 L179.68677,31.075844 L179.68677,74.3037884 L53.1882738,74.3037884 L53.1882738,31.075844 Z" id="Fill-5" fill="#5F4A60"/>
                    <path d="M195.429468,0.746061515 L371.70765,0.746061515 L371.70765,268.125506 L195.429468,268.125506 L195.429468,0.746061515 Z" id="Fill-6" fill="#5F4A60"/>
                    <path d="M204.682171,9.99126032 L362.458588,9.99126032 L362.458588,258.880308 L204.682171,258.880308 L204.682171,9.99126032 Z" id="Fill-7" fill="#FFFFFF"/>
                </g>
            </g>
        </g>
    </g>
</svg>