.profile-project {
	border-top: 1px solid $border-color3;

	.inner {
		padding: 20px 20px+15px; //To negate -15px margin from row
	}

	img,.content {
		display: inline-block;
		vertical-align: middle;
	}

	.content {
		max-width: calc(100% - 70px);
	}

	h3 {
		font-size: 20px;
		margin: 0;
		display: inline-block;
	}

	.tags {
		// vertical-align: middle;
		display: inline-block;
		margin-left: 15px;
		color: $color1;
	}

	.details {
		text-transform: uppercase;	
		font-size: 12px;
		text-align: center;
		
	}

	.column {
		display: inline-block;
		padding: 0 17px;
		margin: 6px 0;
		color:$color2;
		font-size:11px;
		&:first-child {
			padding-left: 0;
			border-right: 1px solid $border-color2;
		}
	}

	.value {
		font-size:10px;
		color:$grey;
	}

	.row {
		min-height: 65px;
		>div {
			min-height: 45px;
		}
	}

	img {
		margin-right: 16px;
	}

	.button {
		position: absolute;
		text-align: center;
		font-size:11px;
		width: 85px;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		@include breakpoint('xs') {
			position: static;
			transform: none;
			margin-top: 20px;
		}
	}
}