<div class="profile-project">
	<div class="inner">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
						<img src="http://placehold.it/45x45" alt="">
						<h3>{{model.name}}</h3>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">{{#link-to 'project.index.entries' model.id}}
						<div class="small {{if model.open 'orange' 'purple'}} bordered rounded button">
							{{#if model.open}} Collaborate {{else}} Read {{/if}}
						</div>
					{{/link-to}}</div>
			</div>
		</div>
	</div>
</div>
