.ember-modal-overlay.translucent {
	background: #fff;
}

.login-modal {
	text-align: center;
	// max-width: 440px !important;
	padding: 0 70px;
	color: $heading-color;

	img {
		max-width: 230px;
	}

	h2,h3 {
		font-size:24px;
		margin: 0;
		padding: 0;
		color: $color2;
	}

	h2 {
		font-weight: bold;
		margin-top: 50px;
	}

	h3 {
		margin-bottom: 30px;
		font-weight: normal;
	}

	.button {
		width: 100%;
		font-size: 15px;
		margin-top: 45px;
		margin-bottom: 20px;
	}

	.email,.password,.username {
		position: relative;
		svg {
			position: absolute;
			top: 18px;
			left: 18px;
		}

		&:hover {
			g.icon {
				stroke-width:0;
			}
		}
	}

	.email {
		svg {
			top: 26px;
		}
	}

	.username {
		svg {
			top: 23px;
		}
	}

	input[type=email],input[type=password],input[type=text] {
		border-radius: 12px;
		padding-left: 50px;
		height: 48px;
		border: 1px solid #c4c4c4;
		font-size: 16px;

	}

	input[type=checkbox] {
		background: $color1;
	}


}

//Move this to sign up pod style?

.signup-modal {
	h2 {
		margin-top: 20px;
		margin-bottom: 40px;
	}
}