.project-list {
		.container.contribute {
			padding: 0 5px;

			.projects {
	        padding: 20px 0px 0 0px;

	        .project-col {
	            margin-bottom: 20px;
              padding-left: 10px;
              padding-right: 10px;

              @include breakpoint(xs) {
                  padding-left: 40px;
                  padding-right: 40px;
              }
	        }
	    }
		}
}
