/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";*/
body {
  background-color: ffffff;
  color: #ffffff; }
  body header {
    margin: 0;
    padding: 30px;
    text-align: center; }
  body section.title {
    margin: 0;
    padding: 30px;
    background-color: #5F495F;
    text-align: center; }
    body section.title h1 {
      font-size: 38px;
      text-transform: uppercase;
      max-width: 660px;
      margin: 0 auto;
      font-weight: 700; }
    body section.title h2 {
      font-size: 22px;
      font-weight: 300;
      max-width: 660px;
      margin: 20px auto 0 auto; }
  body section.book {
    text-align: center;
    background-color: #FFC153; }
    body section.book img {
      margin-left: 160px;
      max-width: 589px; }
  body section.subscribe {
    color: #FFC153;
    padding: 30px; }
    body section.subscribe h3 {
      margin: 0;
      text-align: center; }
    body section.subscribe .form {
      color: #ffffff;
      text-align: center;
      margin: 20px auto 0 auto;
      max-width: 300px; }
      body section.subscribe .form input.email {
        border: 3px solid #FFC153;
        border-radius: 30px;
        width: 100%;
        height: 40px;
        display: inline-block;
        color: #FFC153;
        vertical-align: bottom;
        padding: 8px 20px;
        margin-right: 10px;
        outline: none;
        margin-bottom: 20px; }
        body section.subscribe .form input.email::-webkit-input-placeholder {
          /* WebKit browsers */
          color: #FFC153; }
        body section.subscribe .form input.email:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #FFC153;
          opacity: 1; }
        body section.subscribe .form input.email::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: #FFC153;
          opacity: 1; }
        body section.subscribe .form input.email:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: #FFC153; }
      body section.subscribe .form .submit {
        background-color: #FFC153;
        border-radius: 30px;
        width: 120px;
        height: 40px;
        display: inline-block;
        padding: 10px 0;
        text-transform: uppercase;
        margin-bottom: 20px;
        cursor: pointer; }
        body section.subscribe .form .submit:hover {
          background-color: #5F495F; }
  body footer {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: #5F495F;
    text-align: center;
    padding: 30px; }
