$height: 100px;

.project-header {
	background: $color2;
	color: #fff;
	position: relative;
	min-height: $height;

	.heading {
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
		height: $height;
		line-height: $height;
		vertical-align: middle;
		text-transform: uppercase;

		@include breakpoint('xs'){
			font-size: 18px;
			line-height:initial;
			height:auto;
			padding-top: 10px;
			text-align: center;
			width: 100%;
		}
	}

	.right-menu {
		width: 180px;
		display: inline-block;
		text-align: right;
		float: right;
		height: $height;
		line-height: $height;

		@include breakpoint('xs'){
			float: none;
			text-align: center;
			line-height: initial;
			width: 100%;
			height: auto;
			padding: 10px 0;
		}
	}

	.button {
		color: $color1;
		text-align: center;
		line-height: initial;
	}
}