<div class="project-header">
	<div class="container">
		<div class="heading">
            {{#if attrs.image}}
                <div class="image" style="background-image: url('{{attrs.image}}')"></div>
            {{/if}}
            <div class="title">{{attrs.heading}}</div>
        </div>
		<div class="right-menu">
		{{!-- {{#if session.isAuthenticated}}
			<div {{action 'toggleCreateProjectModal'}} class="big bordered orange rounded button">+ Create project</div>
		{{/if}} --}}
		</div>
	</div>
</div>
{{yield}}
