<div class="project-header">
	<div class="container">
		<div class="heading">
            {{#if attrs.image}}
                <div class="image" style="{{backgroundImageStyle}}"></div>
            {{/if}}
            <div class="title">{{attrs.heading}}</div>
        </div>
		<div class="right-menu">

		</div>
	</div>
</div>
{{yield}}
