<div class="project-header">
	<div class="container">
		<div class="heading">{{attrs.heading}}</div>
		<div class="right-menu">
		{{!-- {{#if session.isAuthenticated}} --}}
			<div {{action 'toggleCreateProjectModal'}} class="big bordered orange rounded button">+ Create project</div>
		{{!-- {{/if}} --}}
		</div>
	</div>
</div>
{{yield}}
