@keyframes slideIn {
	0% {max-height:0;opacity: 0.2;}
	100% {max-height:360px;opacity: 1;}
}

.add-entry-modal {
	
	width: 100vw;
	max-width:100vw;
	position: fixed;
	bottom: 0 !important;
	top:initial;
	//left:initial;


	left: 0 !important;
	right: 0 !important;
	margin:auto !important; //ugly fix
	max-width:560px;

	transform:none;
	max-height:0;
	opacity: 0.5;
	animation: 0.4s slideIn forwards;
	background:transparentize(white, 0.1);

	// width: 560px;
	// max-width: 100%;

	// @media only screen and (max-width:500px){
	// 	width: 320px;
	// }

	/*top: 0;
	left: 0;
	transform: none;
	animation: none;*/

	@include breakpoint('xs'){
		padding: 25px 25px 10px 25px;

		.button {
			margin-top: -15px;
		}
	}

}

.new-entry-spacer {
	width: 100%;
	height: 800px;
	background: white;
}
