<div class="project-list">
    {{project-header heading="WELCOME" projectController=project}}
    <div class="row projects">
    {{#each model key="id" as |project|}}
    	<div class="col-sm-4 col-md-3 project-col">
        {{project-item model=project}}
        </div>
    {{/each}}
    </div>
    {{outlet}}
</div>
