
.project.box {
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	&.prosaic {
		max-width: 650px;
	}

	&.open {
		border-top: 10px solid $color1;
	}

	&.closed {
		border-top: 10px solid $color2;		
	}

	h2 {
		color: $color2;
		font-size:25px;
		text-align: center;
		margin: 15px 0 0 0;
	}

	.meta {
		margin: 25px 0;
		text-align: center;
		vertical-align: middle;
		span,a {
			display: inline-block;
			vertical-align: middle;
		}

	}

	.options {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		cursor: pointer;
	}

	.head {
		p { //description
			text-align: center;
		}
	}
	//Extends: small.rounded.purple.bordered.button
	.tags {
		display: inline-block;
		max-width: 270px;
	}
	.tag {
		padding: 3px 4px;
		border-radius: $small-border-radius;
		border-color: $grey;
		color: $grey;
	}
}