
.project.box {
	border-top: 10px solid $color1;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	&.prosaic {
		max-width: 650px;
	}

	h2 {
		color: $color2;
		font-size:25px;
		text-align: center;
		margin: 0;
	}
}