<h2>Main site for project with id {{model}}</h2>
{{#successful-entry}}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet, nulla ut vero, aut consectetur inventore, ipsam dolorem nesciunt labore dolorum blanditiis. Alias ad tenetur consequatur minima maiores velit repellendus.
{{/successful-entry}}
{{outlet}}
