.home {
    section.marketing {
        background-image: url("/images/home2.jpg");
        //height: 350px;
        height: 270px;
        width: 100%;
        background-size: cover;
        background-position: 0 center;
        color: #ffffff;
        text-align: center;
        padding-top: 100px;
        text-shadow: 1px 1px 1px #000;
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background:transparentize($color2,.7);
        }

        * {
            position: relative;
            z-index: 1;
        }

        @include breakpoint(xs) {
            height: 150px;
            padding-top: 30px;
            background-position: 0 -50px;
        }

        h1 {
            color: #ffffff;
            max-width: 600px;
            margin: 10px auto;

            @include breakpoint(xs) {
                font-size: 20px;
            }
        }
    }

    section.projects {
        background-color: #efefef;
        padding: 20px $site-padding 0 $site-padding;
        margin: 0;

        @include breakpoint(xs) {
            padding: 20px $site-padding-xs 0 $site-padding-xs;
        }

        @include breakpoint(sm) {
            padding: 20px $site-padding-sm 0 $site-padding-sm;
        }

        .project-col {
            margin-bottom: 20px;
        }
    }

    section.testimonial {
        background-color: #ffffff;
        padding: 40px $site-padding 40px $site-padding;

        @include breakpoint(xs) {
            padding: 40px $site-padding-xs 40px $site-padding-xs;
        }

        @include breakpoint(sm) {
            padding: 40px $site-padding-sm 40px $site-padding-sm;
        }

        .title {
            font-size: 24px;
            text-align: center;
        }

        .description {
            font-size: 12px;
            text-align: center;
            font-style: italic;
            max-width: 500px;
            margin: 20px auto 0 auto;
        }
    }
}
