{{#unless session.isAuthenticated}}
    <section class="marketing">
        {{!-- <div class="small"></div> --}}
        <h1>Writing Just Got Collective</h1>
        <div class="small">Welcome to Autora! Let's play with words together.</div>
    </section>
{{/unless}}
<section class="projects row">

    {{#each model key="id" as |project|}}
        <div class="col-sm-4 col-md-3 project-col">
        {{project-item model=project}}
        </div>
        {{else}}
        {{!-- Display spinner if the projects arent loaded yet --}}
        <div style="height:200px;" class="ui container au-loading"></div>
    {{/each}}
</section>
<section class="testimonial">
    <div class="title">Testimonial By User</div>
    <div class="description">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."</div>
</section>
{{social-row}}
{{outlet}}
