<div class="container">
	<div class="user-index">
		<div class="cover">
			<div class="inner">
			{{gravatar-image email=model.email size=100 class="circular profile"}}
				<h2>{{model.username}}</h2>
			</div>
		</div>
		
		
		{{outlet}}
	</div>
</div>