<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="335px" height="393px" viewBox="0 0 335 393" version="1.1">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>Imported Layers</title>
    <desc>Created with Sketch.</desc>
    <defs/>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="How-it-works-Copy-7" sketch:type="MSArtboardGroup" transform="translate(-903.000000, -2099.000000)">
            <g id="Main" sketch:type="MSLayerGroup" transform="translate(-25.000000, 347.000000)">
                <g id="Imported-Layers" transform="translate(926.419580, 1748.307534)" sketch:type="MSShapeGroup">
                    <path d="M303.90205,34.6139535 C303.90205,34.6139535 326.839544,51.5348837 327.132244,51.4372093 C327.420299,51.3395349 326.356356,385.060465 326.356356,385.060465 L24.0757735,388.548837 L10.1376569,373.530233 L14.6861289,353.855814 L65.8901236,351.92093 L237.310375,352.888372 L290.0615,352.018605 L294.224351,34.6139535 L303.90205,34.6139535" id="Fill-1" fill="#FFFFFF"/>
                    <path d="M305.249401,34.627907 L305.249401,34.6139535 L301.922837,34.6139535 L301.922837,361.493023 L24.8981224,361.493023 L23.8388256,360.446512 C25.4184788,359.511628 27.2211419,358.934884 29.1771242,358.934884 L299.3861,358.934884 L299.3861,4.35813953 L29.1817703,4.35813953 C14.1982949,4.35813953 2.0070888,16.572093 2.0070888,31.5767442 L2.0070888,370.6 L2.10930166,370.6 C2.70399464,385.074419 14.574624,396.683721 29.1817703,396.683721 L32.4014752,396.683721 L335.755293,396.632558 L335.755293,34.627907 L305.249401,34.627907 L305.249401,34.627907 Z M33.9439601,370.553488 L310.964029,370.553488 L310.964029,43.0837209 L313.644794,45.7813953 L313.644794,373.237209 L36.6107865,373.237209 L33.9439601,370.553488 L33.9439601,370.553488 Z M305.249401,364.832558 L305.249401,37.3116279 L307.632819,39.7209302 L307.632819,367.209302 L30.6173963,367.209302 L28.2339784,364.827907 L305.249401,364.827907 L305.249401,364.832558 L305.249401,364.832558 Z M29.1817703,380.009302 C23.3742217,380.009302 18.6584922,375.297674 18.6584922,369.47907 C18.6584922,366.832558 19.6620366,364.451163 21.2788581,362.604651 L38.6782738,380.009302 L29.1817703,380.009302 L29.1817703,380.009302 Z M319.103889,379.953488 L43.3940033,380.009302 L39.9559345,376.562791 L316.985296,376.562791 L316.985296,49.1534884 L319.103889,51.3023256 L319.103889,379.953488 L319.103889,379.953488 Z" id="Fill-2" fill="#5F4A60"/>
                    <path d="M18.6631382,31.5767442 C18.6631382,25.7674419 23.3788677,21.0372093 29.1864163,21.0372093 L282.725405,21.0372093 L282.725405,342.260465 L18.6631382,342.260465 L18.6631382,31.5767442" id="Fill-3" fill="#5F4A60"/>
                    <path d="M61.9270524,95.1348837 L250.686321,95.1348837 L250.686321,205.223256 L61.9270524,205.223256 L61.9270524,95.1348837 Z M75.261184,191.883721 L237.356835,191.883721 L237.356835,108.47907 L75.261184,108.47907 L75.261184,191.883721 Z" id="Fill-4" fill="#FFFFFF"/>
                    <path d="M87.5127886,128.804651 L225.10523,128.804651 L225.10523,142.148837 L87.5127886,142.148837 L87.5127886,128.804651 Z" id="Fill-5" fill="#FFFFFF"/>
                    <path d="M87.5127886,158.218605 L225.10523,158.218605 L225.10523,171.55814 L87.5127886,171.55814 L87.5127886,158.218605 Z" id="Fill-6" fill="#FFFFFF"/>
                </g>
            </g>
        </g>
    </g>
</svg>