<div class="container">
	<h1>Routing/Navigation test:</h1>
</div>
<nav class="nav navbar-default">
	<div class="container">
	{{#link-to 'project.list' class="navbar-brand"}} Autora {{/link-to}}
	{{#if session.isAuthenticated}}
		<strong>You are signed in. {{#link-to 'user.logout'}}Logout.{{/link-to}}</strong>
	{{/if}}
	<ul class="nav navbar-nav navbar-right">
		<li>{{#link-to 'project.index' 4}} Project 4 {{/link-to}}</li>
		<li>{{#link-to 'user.index' 4}} User 4 {{/link-to}}</li>
		<li>{{#link-to 'user.index.settings' 4}} User 4 settings {{/link-to}}</li>
		<li>{{#link-to 'user.login'}} Login {{/link-to}}</li>
		<li>{{#link-to 'user.signup'}} Sign up {{/link-to}}</li>
	</ul>
	</div>
</nav>
<div class="container">{{outlet}}</div>
