<div class="project-list">
    {{project-header heading="READ" projectController=project}}
    <div class="container read">
    	<div class="row projects">
    	{{#each filteredProjects key="id" as |project|}}
    		<div class="col-sm-4 col-md-3 project-col">
    	    {{project-item model=project}}
    	    </div>
    	{{/each}}
    	</div>
    </div>
    {{outlet}}
</div>
