#about >header, .how-it-works >header {
    background-color: $color2;
    overflow: hidden;
    text-align: center;
    padding: 100px 0 100px 0;
    background-repeat: no-repeat;
    background-position: 50%;

      h1 {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 60px;
            margin: 0;
        }

        h2 {
            color: $color3;
            font-size: 18px;
            font-weight: 300;
            margin: 0;
        }
}
#about {
    > header {
        background-image: url('/images/about-header.png');
    }

    .story {
        font-size: 18px;
        padding: 60px 0;
        font-weight: 300;

        > p {
            margin:0 auto 20px auto;
            max-width:750px;
            padding: 0 15px;
        }
    }

    .meet-the-team {
        background-color: #ffffff;
        padding: 40px 0;

        .container {
            padding: 0;

            > h2 {
                margin: 0;
                text-align: center;
            }

            > h3 {
                margin: 20px auto 0 auto;
                padding: 0 15px;
                text-align: center;
                font-size: 16px;
                line-height: 24px;
                max-width: 750px;
                font-weight: 300;
                color: $text-color;
            }

            > ul {
                padding: 0;
                margin: 40px 0 0 0;
                list-style: none;

                li {

                }
            }
        }
    }
}
