.notification-box {
	position: fixed;
	right: -$notification-width;
    border: 2px solid $color1;
    z-index: 1000;
    width: $notification-width;
    padding: 10px;
    background: white;
    height:100vh;
    overflow: scroll;

    a {
    	margin: 0 !important;
    }

    &.hidden {
    	visibility: hidden;
    }
}