.project-index-entries {
	padding-top: 25px;
	min-height: 305px;

	.big.button {
		float: right;
		color: $color2;
		font-size: 14px;
	    line-height: 16px;
	    border: 1px solid $color1;
	    border-radius: 10px;
	}

	h2 {
		font-size: 18px;
		margin: 0;
		padding: 0;
		margin-bottom: 25px;
	}

	.no-entries {
		margin-left: 15px;
	}
}
