{{#competing-entry}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus optio vero in pariatur numquam aliquam cum debitis esse qui, illo, voluptatum laboriosam? Quisquam voluptate perferendis nemo porro, dignissimos doloribus ducimus.</p>
{{/competing-entry}}
{{outlet}}
