<div class="white-bg project-index-entries">
	<div class="container">
		{{#if pile.id}}
			{{#link-to 'project.index.entries.new-entry' class="big orange bordered rounded button"}}+ Add entry{{/link-to}}
			<h2>Submitted entries</h2>
			(Listing entries in pile {{pile.id}})
			<div class="row clearfix">

				{{#each sortedEntries key="id" as |entry|}}
					<div class="col-sm-6 col-md-4 col-lg-3">
						{{competing-entry model=entry}}
					</div>
				{{/each}}
			</div>
		{{else}}
		<h2>There's no pile created. Please create one.</h2>
		{{/if}}
	</div>
	{{outlet}}
</div>
