{{#link-to 'project.index.new-entry' class="btn btn-primary"}}New entry{{/link-to}}



{{!-- {{log model}} --}}

<h2>Listing entries in pile {{pile.id}}</h2>

<div class="container">{{#each pile.competingEntries key="id" as |entry|}}
		{{competing-entry model=entry}}
	{{/each}}</div>
{{outlet}}
