.project-item {
    background-color: #ffffff;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;

    .top {
        .line {
            margin-top: 30px;
            height: 40px;
            width: 100%;
            background-color: $color1;

            .action {
                color: $color2;
                background-color: #ffffff;
                border-radius: 10px;
                float: right;
                padding: 3px 10px 2px 10px;
                font-size: 12px;
                margin-top: 9px;
                margin-right: 22px;
                line-height: 18px;
            }
        }

        .image {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 15px;
            left: 15px;

            > img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }



    .body {
        padding: 15px;
        margin-top: 15px;
        word-break: break-all;

        a {
            &:hover {
                text-decoration: none;
            }
        }

        .title {
            color: $color1;
            font-weight: 400;
            font-size:15px;
        }
    }

    .rules {
        padding: 0 15px;
    }

    .bottom {
        height: 60px;
        position: absolute;
        bottom: 0;
    }

    .description {
        word-break: break-word;
    }

    ul.tags {
        padding: 0 15px;
        margin: 0;
        list-style: none;

        li {
            float: left;
            margin-right: 10px;
            font-size: 12px;
        }
    }

    &.closed {
        .top {
            .line {
                background-color: $color2;
            }
        }
    }
}
