<div class="top">
    {{#link-to 'project.index.entries' attrs.model.id}}
    <div class="line">
        <div class="action">Collaborate</div>
    </div>
    <div class="image"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=Image&w=70&h=70" /></div>
    {{/link-to}}
</div>
<div class="body">
    {{#link-to 'project.index.entries' attrs.model.id}}
    <div class="title">{{attrs.model.name}}</div>
    {{/link-to}}
    <div class="description">Project description some long text here dummy text</div>
</div>
<ul class="tags">
    {{#each model.tags key="id" as |tag|}}
        <li class="tag">{{tag.name}}</li>
    {{/each}}
</ul>
<!--
<h3>{{attrs.model.name}}</h3>
<p>{{attrs.model.description}}</p>
{{#link-to 'project.index.entries' attrs.model.id}} Open project {{/link-to}}
-->
