body {
	font-family: 'Roboto';
}


// .app-content {
// 	padding-top: 4%;
// 	position: relative;
// }

.ember-modal-overlay.translucent {
	background: #fff;
}

table{
	width: 100%;
	&,td {
		padding: 0 !important;
		margin: 0;
	}
}