body {
	font-family: 'Roboto';
	background: $background-color;
}

a {
	color: darken($color1,10%);

	&:hover {
		color: darken($color1,10%);
	}

	&.active {
		// text-decoration: underline;
	}

	&.plain {
		text-decoration: none !important;
	}
}

h1,h2,h3,h4 {
	color: $color2;
}


// .app-content {
// 	padding-top: 4%;
// 	position: relative;
// }

table{
	width: 100%;
	&,td {
		padding: 0 !important;
		margin: 0;
	}
}

.inline-block {
	display: inline-block;
}

.circular.profile {
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid $border-color;
}

.white-bg {
	background: #fff;
}

.clearfix {
	clear:both;
}
