$site-padding: 160px;
$horizontal-input-padding: 20px;
$vertical-input-padding: 8px;

$vertical-input-margin: 8px;
$horizontal-input-margin:  0;


/* COLORS */
$color1: #FFC153;
$color2: #5F495F;
$color3: #FBFBFB;
$border-color: #cccccc;
$border-color2: #E3E1E1;
$border-color3: #F5F5F5;
$background-color: #F5F5F5;
$text-color: #666666;

$small-border-radius: 5px;
$medium-border-radius: 12px;
$placeholder-color: #777777;
$heading-color: #777777;


