$initial-scale: 0.93;
$initial-translate: -50%/$initial-scale;
@keyframes modal-appear {
	0% {
		opacity: 0;
		transform: scale($initial-scale,$initial-scale) translate($initial-translate,$initial-translate); //-50
	}
	100% {
		opacity: 1;
		transform: scale(1,1) translate(-50%,-50%);
	}
}
.modal-prototype {
	max-width:560px;
	width: 100%;
	border-radius:0;
	padding: 50px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	animation: 0.6s modal-appear forwards;
	// margin: 0 !important; // ugly fix - should be removed


	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

	.heading {
		font-size: 20px;
		color: $heading-color;
		line-height: 26px;
		margin: 0;
		padding-top: 0;
	}

	.body {
		margin: 35px 0;
	}

	textarea {
		height: 100px;
	}

	.project-photo {
		border: 1px solid $border-color2;
		margin-top: $vertical-input-margin;
		border-radius: $input-border-radius;
		height: 100px;
		text-align: center;

		> img {
			width: 100%;
		}
	}

	.close-modal {
		position: absolute;
		top: 22px;
		right: 22px;
		cursor: pointer;

		svg {
			stroke: $placeholder-color;
			transition: 0.2s stroke;

			&:hover {
				stroke: darken($placeholder-color, 25%);
			}
		}
	}

	.small.button {
		margin-top: $vertical-input-margin;
		// width: 100%;
	}

	.footer {
		text-align: right;
	}

	label {
		margin-top: $vertical-input-margin;
		height: 38px;
		line-height: 38px;
		vertical-align: middle;
	}

	.tag {
		margin: $vertical-input-margin 0;
		display: inline-block;

		svg {
			stroke: lighten($color2,10%);
			cursor: pointer;
		}
	}
}

@keyframes whiten {
	0% { background:transparent; }
	100% { background:transparentize(#fff,0.2); }
}
.ember-modal-overlay.translucent {
	background:#fff;
	animation: 1.2s whiten forwards;
}
